* {
    box-sizing: border-box;
}
body {
    margin: 0;           /* убирает отступы */
    font-family: 'Montserrat', sans-serif;
   color: #000;
}

.header {
    height: 900px;
    width: 100%;
    background-color: #ccdef0;
    background-image: radial-gradient(circle 675px at center, #ffffff 0%, #ccdef0 100%);
}
.container {
    width: 1170px;         /* фиксированная ширина */
    margin-left: auto;
    margin-right: auto;

}
.nav-wrapper {
 display: flex;          /* вырвниваниваются в один ряд */
 flex-direction: row; 
 justify-content: space-between; /* между элементами по краям*/
 align-items: center;             /* четко по центру два элемента меню и нав */
padding-top: 70px;
margin-bottom: 90px;
}
.logo {
    color: #000;
    font-size: 28px;
    line-height: 1;
    font-weight: 900;
}
.logo span {
    color: #5abb33;
}
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;

}
.nav__item {
  margin-right: 50px;
}
.nav__item:last-child {
    margin-right: 0;
}
.nav__link {
  color: #000;
  text-decoration: none;
  font-size: 18px;
    line-height: 1;
    font-weight: 500;
}
.nav__link:hover {
    text-decoration: underline;
}
.header-content {
 display: flex;
 flex-direction: row;
 justify-content: space-between;

}
.header-desc {
 width: 500px;
 padding-top: 90px;
}
.header__title {
    color: #000;
    font-size: 48px;
    line-height: 1.3;
    font-weight: 800;
    margin: 0;
    margin-bottom: 35px;
}
.header__text {
    color: #000;
    font-size: 20px;
    line-height: 1.7;
    font-weight: 500;
    margin-bottom: 35px;
}
.header__btn {
  display: inline-block;
  border-radius: 60px;
  height: 65px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: #fadb60;
  background-image: linear-gradient(to top, #ffcc00 0%, #fadb60 100%);
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 65px;
  text-decoration: none;
  margin-bottom: 30px;
}
.header-photo {
    width: 670px;
}

.header__social-item {
    font-size: 27px;
    color: #34383c;
    text-decoration: none;
 margin-right: 30px;

}
.header__social-item:last-child {
    margin-right: 0;
}
.header__social-item:hover {
    opacity: 0.8;
}
.footer {
    height: 114px;
    width: 100%;
    background-color: #232323;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}
.footer span {
    color: #fada5a;
}
.footer span:hover {
    opacity: 0.8;
    cursor: pointer;
}
.footer::before {
    content: "";
    display: table;
}